<html>
  <head>
    <title>Alice's Shop</title>
    <script type="text/javascript" src="flash.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body class="container">
      <% if flash[:notice] %>
        <br><p class="alert alert-success"><%= flash[:notice] %>
      <% end %>
      <% if flash[:error] %>
        <br><p class="alert alert-warning"><%= flash[:error] %>
      <% end %>

    <br><h1>Welcome to Alice's Shop</h1><br>

    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li><a href="/">Home</a></li>
      <li><a href=/basket>Basket</a></li>
      <li><a href=/contact>Contact</a></li>
    </ul>
    <br><br><br>

    <%= yield %>
  </body>
</html>
