<h2><%= title %></h2>

<div class="list-group">
  <% products.each do |product| %>
    <a class="list-group-item" href="/products/<%= product.id %>">
      <%= product.name %>
    </a>
  <% end %>
</div>
